<div class="section">
  <div class="wrapper">
    <div class="section__block">
      Sample page. Custom property: {{ customProperty }}

      <img src="{{ rootPath }}assets/images/sample.png" alt="">
    </div>
  </div>
</div>
