$-small-2-width: 480px;
$-small-width: 640px;
$-medium-width: 800px;
$-large-width: 1024px;
$-large-2-width: 1280px;
$-large-3-width: 1440px;

$small-2: 'min-width: #{$-small-2-width}';
$small: 'min-width: #{$-small-width}';
$medium: 'min-width: #{$-medium-width}';
$large: 'min-width: #{$-large-width}';
$large-2: 'min-width: #{$-large-2-width}';
$large-3: 'min-width: #{$-large-3-width}';

$small-2-down: 'max-width: #{$-small-2-width  - 0.1}';
$small-down: 'max-width: #{$-small-width    - 0.1}';
$medium-down: 'max-width: #{$-medium-width  - 0.1}';
$large-down: 'max-width: #{$-large-width    - 0.1}';
$large-2-down: 'max-width: #{$-large-2-width  - 0.1}';
$large-3-down: 'max-width: #{$-large-3-width  - 0.1}';

$small-2-to-small: '#{$small-2}) and (#{$small-down}';
$small-2-to-medium: '#{$small-2}) and (#{$medium-down}';
$small-2-to-large: '#{$small-2}) and (#{$large-down}';
$small-2-to-large-2: '#{$small-2}) and (#{$large-2-down}';
$small-2-to-large-3: '#{$small-2}) and (#{$large-3-down}';

$small-to-medium: '#{$small}) and (#{$medium-down}';
$small-to-large: '#{$small}) and (#{$large-down}';
$small-to-large-2: '#{$small}) and (#{$large-2-down}';
$small-to-large-3: '#{$small}) and (#{$large-3-down}';

$medium-to-large: '#{$medium}) and (#{$large-down}';
$medium-to-large-2: '#{$medium}) and (#{$large-2-down}';
$medium-to-large-3: '#{$medium}) and (#{$large-3-down}';

$large-to-large-2: '#{$large}) and (#{$large-2-down}';
$large-to-large-3: '#{$large}) and (#{$large-3-down}';

$large-2-to-large-3: '#{$large-2}) and (#{$large-3-down}';

$mobile: $large-down;
$tablet: '#{$small} and #{$large-down}';
$desktop: $large;
