/*-----------------------------------------------------------------------------
  $ Site Footer
-----------------------------------------------------------------------------*/

.site-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--black);
  color: var(--white);
}
