/*-----------------------------------------------------------------------------
  $ Wrappers
-----------------------------------------------------------------------------*/

.wrapper {
  width: 100%;
  max-width: calc(var(--wrapper-width) + var(--wrapper-gutter) * 2);
  padding-right: var(--wrapper-gutter);
  padding-left: var(--wrapper-gutter);
  margin-right: auto;
  margin-left: auto;
}
