{% from "macros/banners.njk" import banners %}

{{ banners(landingBanners) }}

<div class="section">
  <div class="wrapper">
    <div class="section__block">
      Section here

      <img src="{{ rootPath }}assets/images/sample.png" alt="">

      <a href="{{ rootPath }}{{ ROUTES.SAMPLE.NESTED }}">Link to sample page</a>
    </div>
  </div>
</div>
