---
layout: base.njk
---

<div class="banner">
  Banner here
</div>

<div class="section">
  <div class="wrapper">
    <div class="section__block">
      Section here

      <img src="{{ rootPath }}assets/images/sample.png" alt="">
    </div>
  </div>
</div>
